@if (User.Identity.IsAuthenticated)
{
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="accountDropdown" role="button" data-bs-toggle="dropdown">@User.Identity.Name</a>
        <div class="dropdown-menu" aria-labelledby="accountDropdown">
            <a class="dropdown-item" asp-controller="Account" asp-action="Settings">My Account</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-controller="Account" asp-action="Logout">Sign Out</a>
        </div>
    </div>
}
else
{
    <a class="nav-item nav-link" asp-controller="Account" asp-action="SignUp">Sign Up</a>
    <a class="nav-item nav-link" asp-controller="Account" asp-action="SignIn">Sign In</a>
}
